body {
    font-size: 18pt;
}

.row {
    border-left: 2px solid;
    margin-bottom: 0.5em;
}

.text-box {
    padding: 0.5em;
    background-color: lightgray;
    min-height: 12px;
    border: 2px solid black;
    border-radius: 9px;
    box-shadow: inset 2px 2px 0px 1px #ddd, inset -2px -2px 0px 1px #777;
}